/* Reset */

:root{
    --font: 'Poppins', sans-serif;
    --transition-panels : 500ms;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body, html {
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

/* Login Container */
.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* Form side */
.left-panel {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.box-form-left-panel, .header-left-panel{
    width: 100%;
    padding: 30px 0;
    display: flex;
}

.box-form-left-panel{
    flex-direction: column;
    align-items: center;
    padding: 50px;
    height: 100%;
    gap: 30px;
}

.left-panel .logo {
    text-align: center;
    margin-bottom: 2rem;
}

.logo{
    display: flex;
}

.logo a {
    display: flex;
    font-family: var(--font);
    font-weight: 500;
    font-size: 25px;
    color: #000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logo a h4 {
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 15%;
    overflow: hidden;
}

h1 {
    color: #0065FF;
}

.connecter{
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: left;
    margin-bottom: 1.5rem;
}

.connecter h2 {
    font-weight: 400;
    font-size: 30px;
}

.left-panel form {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 70%;
}

.input-group {
    margin-bottom: 0.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    gap: 10px;
    width: 100%;
    position: relative;
}

label {
    color: #9ba0a5;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #9ba0a5;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    font-family: var(--font);
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: #888;
}

.forgot-password {
    text-align: right;
    margin-bottom: 1rem;
}

.forgot-password h4{
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot-password a {
    color: #CF0A1D;
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Button */
.btn-primary {
    background-color: #CF0A1D;
    color: #fff;
    padding: 0.75rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;

    font-family: var(--font);
    font-size: 16px;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: #BB0B0B;
}

/* Banner side */

.right-panel{
    width: 45%;
    height: 100vh;
}

.right-panel{
    background: #CF0A1D;
    transition: var(--transition-panels) width ease;
    overflow: hidden;
}

.right-panel .icon-right-panel{
    height: 100%;
    width: 100%;
    background-image: url(right-panel.jpg);
}

/* Inscription */ 

.input-group-inscription input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #9ba0a5;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    font-family: var(--font);
}

.input-group-inscription-password{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    position: relative;
}

.input-group-inscription-password input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #9ba0a5;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    font-family: var(--font);
}

.btn-inscription{
    margin-top: 1.5rem;
}

.contraite{
  margin-top: 0px;
  width: 100%;
  background-color: #DDDDDC;
  border-radius: 10px;
  font-family: var(--font);
  font-size: 15px;
  text-align: left;
  padding: 10px;
}

.contraite p{
    padding: 3px;
}

.Bar {
  margin-top: -5px;
  width: 100%;
  display: flex;
  display:block;
}
  
progress{
    width: 100%;
    border: 1px solid gray;
    border-radius: 100px;
}
  
progress::-webkit-progress-bar {
    background-color: #ececec;
    border-radius: 100px;
}
.red::-webkit-progress-value {
    background-color: #FF0000;
    border-radius: 100px;
}
  
.orange::-webkit-progress-value {
    background-color: #ff7f00;
    border-radius: 100px;
}
.green::-webkit-progress-value {
    background-color: #32CD32;
    border-radius: 100px;
}


/* Dashboard */


header {
    background-color: #e60000; /* Rouge principal */
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

header .logo-container {
    display: flex;
    align-items: center;
}

header .logo-container img {
    width: 40px; /* Taille du logo */
    height: 40px;
    margin-right: 15px;
}

header .logo-container h2 {
    font-size: 20px;
    margin: 0;
}

.buttons {
    margin-left: 50px;
    display: flex;
    justify-content: left; /* Centre les boutons horizontalement */
    flex: 1; /* Prend toute la largeur disponible pour centrer */
}

header .buttons button {
    background-color: white;
    color: #e60000;
    border: 2px solid #e60000;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

header .buttons button:hover {
    background-color: #e60000;
    color: white;
}
